In [2]:
import pandas as pd

df = pd.read_csv('all_matches.csv')

df.head(100)

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR,league,Time
0,2014-08-08,Reims,Paris SG,2.0,2.0,D,9.0,16.0,3.0,6.0,15.0,16.0,1.0,5.0,0.0,2.0,0.0,0.0,Ligue1,NaN
1,2014-08-09,Evian Thonon Gaillard,Caen,0.0,3.0,A,10.0,12.0,2.0,7.0,12.0,9.0,5.0,6.0,1.0,1.0,0.0,0.0,Ligue1,NaN
2,2014-08-09,Bastia,Marseille,3.0,3.0,D,13.0,9.0,4.0,4.0,25.0,21.0,1.0,4.0,3.0,1.0,0.0,0.0,Ligue1,NaN
3,2014-08-09,Guingamp,St Etienne,0.0,2.0,A,6.0,7.0,3.0,2.0,9.0,19.0,4.0,5.0,3.0,4.0,0.0,0.0,Ligue1,NaN
4,2014-08-09,Lille,Metz,0.0,0.0,D,14.0,2.0,3.0,1.0,9.0,23.0,8.0,3.0,0.0,1.0,0.0,0.0,Ligue1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2014-08-30,Leverkusen,Hertha,4.0,2.0,H,21.0,3.0,7.0,1.0,11.0,20.0,5.0,6.0,0.0,1.0,0.0,0.0,Bundes Ligue,NaN
96,2014-08-30,Hamburg,Paderborn,0.0,3.0,A,13.0,15.0,4.0,7.0,16.0,16.0,8.0,3.0,0.0,0.0,0.0,0.0,Bundes Ligue,NaN
97,2014-08-30,Roma,Fiorentina,2.0,0.0,H,20.0,10.0,5.0,4.0,15.0,17.0,2.0,0.0,4.0,4.0,0.0,0.0,Serie A,NaN
98,2014-08-31,Freiburg,M'gladbach,0.0,0.0,D,17.0,9.0,4.0,3.0,11.0,13.0,4.0,5.0,1.0,2.0,0.0,0.0,Bundes Ligue,NaN
99,2014-08-31,Tottenham,Liverpool,0.0,3.0,A,7.0,17.0,1.0,8.0,14.0,11.0,7.0,3.0,0.0,4.0,0.0,0.0,EPL,NaN

In [3]:
df.tail(20)

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR,league,Time
19821,2025-05-25,Newcastle,Everton,0.0,1.0,A,17.0,14.0,6.0,6.0,12.0,9.0,12.0,3.0,1.0,4.0,0.0,0.0,EPL,16:00
19822,2025-05-25,Man United,Aston Villa,2.0,0.0,H,25.0,6.0,10.0,1.0,10.0,10.0,4.0,3.0,2.0,2.0,0.0,1.0,EPL,16:00
19823,2025-05-25,Liverpool,Crystal Palace,1.0,1.0,D,14.0,8.0,3.0,5.0,7.0,10.0,11.0,0.0,1.0,0.0,1.0,0.0,EPL,16:00
19824,2025-05-25,Ipswich,West Ham,1.0,3.0,A,14.0,10.0,4.0,6.0,10.0,9.0,4.0,0.0,1.0,1.0,0.0,0.0,EPL,16:00
19825,2025-05-25,Fulham,Man City,0.0,2.0,A,13.0,20.0,3.0,5.0,11.0,5.0,1.0,6.0,0.0,0.0,0.0,0.0,EPL,16:00
19826,2025-05-25,Empoli,Verona,1.0,2.0,A,14.0,5.0,5.0,2.0,10.0,29.0,13.0,1.0,2.0,2.0,0.0,0.0,Serie A,19:45
19827,2025-05-25,Lazio,Lecce,0.0,1.0,A,26.0,9.0,7.0,3.0,11.0,11.0,14.0,4.0,2.0,3.0,1.0,1.0,Serie A,19:45
19828,2025-05-25,Girona,Ath Madrid,0.0,4.0,A,2.0,19.0,1.0,11.0,13.0,11.0,1.0,8.0,0.0,1.0,0.0,0.0,LL,13:00
19829,2025-05-25,Villarreal,Sevilla,4.0,2.0,H,12.0,17.0,7.0,6.0,8.0,14.0,3.0,5.0,0.0,1.0,0.0,0.0,LL,15:15
19830,2025-05-25,Ath Bilbao,Barcelona,0.0,3.0,A,10.0,13.0,1.0,4.0,21.0,10.0,2.0,6.0,1.0,0.0,0.0,0.0,LL,20:00
19831,2025-05-25,Venezia,Juventus,2.0,3.0,A,12.0,15.0,5.0,5.0,10.0,18.0,6.0,6.0,1.0,2.0,0.0,0.0,Serie A,19:45
19832,2025-05-25,Udinese,Fiorentina,2.0,3.0,A,12.0,25.0,3.0,11.0,15.0,6.0,2.0,8.0,3.0,2.0,1.0,0.0,Serie A,19:45
19833,2025-05-25,Torino,Roma,0.0,2.0,A,11.0,15.0,4.0,5.0,15.0,11.0,2.0,1.0,1.0,1.0,0.0,0.0,Serie A,19:45
19834,2025-05-25,Atalanta,Parma,2.0,3.0,A,11.0,18.0,5.0,10.0,7.0,7.0,5.0,6.0,1.0,1.0,0.0,0.0,Serie A,19:45
19835,2025-05-25,Bournemouth,Leicester,2.0,0.0,H,20.0,3.0,7.0,0.0,19.0,16.0,6.0,1.0,0.0,2.0,0.0,0.0,EPL,16:00
19836,2025-05-25,Wolves,Brentford,1.0,1.0,D,18.0,13.0,6.0,7.0,7.0,9.0,8.0,3.0,2.0,1.0,0.0,0.0,EPL,16:00
19837,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Serie A,NaN
19838,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Serie A,NaN
19839,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ligue1,NaN
19840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EPL,NaN

In [4]:
df_2 = pd.read_csv('train_full_stats_dataset.csv')

In [5]:
df_2.tail(100)

,Date,HomeTeam,AwayTeam,Home_Elo,Away_Elo,Diff_Elo,Home_FTHG_avg,Home_FTAG_avg,Home_HS_avg,Home_AS_avg,...,Target_HST,Target_AST,Target_HF,Target_AF,Target_HC,Target_AC,Target_HY,Target_AY,Target_HR,Target_AR
17506,2025-05-11,Liverpool,Arsenal,1783.062400,1735.757274,47.305126,2.1,1.1,15.6,11.1,...,5.0,7.0,13.0,10.0,3.0,1.0,1.0,1.0,0.0,1.0
17507,2025-05-11,Newcastle,Chelsea,1652.378443,1656.060921,-3.682479,2.5,1.1,14.2,10.4,...,6.0,3.0,9.0,13.0,2.0,8.0,4.0,2.0,0.0,1.0
17508,2025-05-11,Stuttgart,Augsburg,1574.086333,1526.596472,47.489861,1.3,2.2,12.8,12.8,...,11.0,0.0,9.0,7.0,11.0,2.0,1.0,1.0,0.0,1.0
17509,2025-05-11,Verona,Lecce,1466.681565,1432.743077,33.938488,0.7,0.6,10.0,7.9,...,2.0,3.0,17.0,15.0,3.0,6.0,4.0,0.0,0.0,0.0
17510,2025-05-11,Ein Frankfurt,St Pauli,1608.834411,1480.787756,128.046655,1.8,1.0,14.1,11.0,...,5.0,2.0,11.0,12.0,3.0,1.0,2.0,2.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17601,2025-05-25,Southampton,Arsenal,1330.866102,1744.975187,-414.109085,1.4,1.1,11.4,13.8,...,2.0,8.0,7.0,8.0,5.0,8.0,0.0,0.0,0.0,0.0
17602,2025-05-25,Tottenham,Brighton,1512.864598,1604.736672,-91.872073,2.1,1.1,14.6,10.5,...,2.0,8.0,13.0,8.0,2.0,11.0,3.0,1.0,0.0,0.0
17603,2025-05-25,Bournemouth,Leicester,1559.190337,1422.373932,136.816405,1.2,1.3,12.2,12.3,...,7.0,0.0,19.0,16.0,6.0,1.0,0.0,2.0,0.0,0.0
17604,2025-05-25,Empoli,Verona,1455.875726,1465.396386,-9.520661,1.2,1.0,10.7,10.7,...,5.0,2.0,10.0,29.0,13.0,1.0,2.0,2.0,0.0,0.0
17605,2025-05-25,Wolves,Brentford,1512.017074,1576.445478,-64.428404,1.6,1.2,11.4,9.7,...,6.0,7.0,7.0,9.0,8.0,3.0,2.0,1.0,0.0,0.0